@import "tailwindcss";

:root {
  --primary-light: #e4dfd3;
  --primary-dark: #2d2d2d;
  --color-blue: #99d2df;
  --color-light-grey: #d0cfcb;
  --color-dark-grey: #6f6f78;
  --color-dark-pink: #630850;
}

@theme inline {
  --color-background: var(--primary-light);
  --color-foreground: var(--primary-dark);
  --font-poppins: var(--font-poppins-sans);
  --font-mulish: var(--font-mulish);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-dark: #2d2d2d;
    --primary-light: #e4dfd3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mulish) !important;
}

h1,
h2,
h3,
h4 {
  font-family: var(
    --font-poppins-sans
  ) !important;
  font-weight: bold;
}
